<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This page is related to instructor">
    <meta name="author" content="instructor">
    <meta name="keywords" content="instructor">

    <!-- Title Page-->
    <title>Instructor Dashboard</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="../../assets/images/logo.png" />

    <!-- Hamburgers CSS-->
    <link href="../../assets/csss/hamburgers.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../../assets/css/theme.css" rel="stylesheet" media="all">

    <!-- Gijgo CSS-->
    <link rel="stylesheet" href="../../assets/css/gijgo.min.css" />

    <!-- Katex CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css"
        integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">

    <!-- qlSnow CSS-->
    <link href="../../assets/css/qlSnow.css" rel="stylesheet">

    <!-- mathquill CSS-->
    <link href="../../assets/css/mathquill.css" rel="stylesheet">

    <!-- mathquill4quill CSS-->
    <link href="../../assets/css/mathquill4quill.min.css" rel="stylesheet">

</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/user/profile/dashboard">
                            <img src="../../assets/images/logodash.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE -->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/user/profile/dashboard">
                    <img title="Instructor Dashboard" src="../../assets/images/logodash.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list nav" id="myTab" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab"
                                aria-controls="dashboard" aria-selected="true"><i
                                    class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="course-tab" data-toggle="tab" href="#course" role="tab"
                                aria-controls="course" aria-selected="false"><i class="far fa-check-square"></i>Making
                                Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab"
                                aria-controls="edit" aria-selected="false"><i class="far fa-edit"
                                    aria-hidden="true"></i>Edit Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="requesst-tab" data-toggle="tab" href="#request" role="tab"
                                aria-controls="request" aria-selected="false"><i class="far fa-bookmark"
                                    aria-hidden="true"></i>All Requests</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header d-none" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search"
                                    placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="form-header">
                                <h4>Instructor Dashboard controlling everything</h4>
                            </div>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="../../assets/uploads/<%= user.avatar %>"
                                                alt="<%= user.fullname %>" title="<%= user.fullname %>" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#"><%= user.fullname %> <i
                                                    class="fas fa-arrow-down"></i></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="/user/profile">
                                                        <img src="../../assets/uploads/<%= user.avatar %>"
                                                            alt="<%= user.fullname %>" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="/user/profile"><%= user.fullname %></a>
                                                    </h5>
                                                    <span class="email"><%= user.email %></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/user/profile/dashboard">
                                                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="/user/profile">
                                                        <i class="fas fa-cog"></i>Settings</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="/user/profile/logout">
                                                        <i class="fas fa-sign-out-alt"></i>Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="tab-content" id="myTabContent">
                        <div class="container-fluid tab-pane fade show active" id="dashboard" role="tabpanel"
                            aria-labelledby="dashboard-tab">
                            <div class="row">
                                <div class="col-12">
                                    <h5>Instructor Dashboard</h5>
                                    <p class="mt-2">This is the instructor dashboard such that In this page the
                                        instructor
                                        can see all statistics, make a course giving all details about the putted course
                                        and
                                        see all sent requests from students</p>
                                    <a href="/user/profile" class="btn btn-primary mt-2">BACK PROFILE</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h5>Some Statistics</h5>
                                    <p class="mt-2">Here some statistics about each course you make and number of users
                                        in
                                        each course</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <% courseDocs.forEach((course, index) => { %>


                                <div class="col-md-6 mt-3">
                                    <div class="content bg-white p-3 rounded-lg shadow-lg">
                                        <h5>Course number #<%= index + 1 %></h5>
                                        <div class="d-flex mt-1">
                                            <div class="image">
                                                <img class="shadow" title="Course" alt="Course"
                                                    src="../../assets/centerphotos/<%= course.centerphoto %>"
                                                    style="height: 80px; width: 80px; border-radius: 50%" />
                                            </div>
                                            <div style="width: calc(100% - 80px)" class="right-content pl-2">
                                                <p><%= course.coursebio %>"
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <% var count = 0; %>
                                        <% for(var i = 0; i < course.users.length; i++) { %>
                                        <%  if(course.users[i].acceptanceStatus === true) { %>
                                        <%  count++; %>
                                        <% } %>
                                        <% } %>
                                        <p>Number of users enrolled in this course is <span><%= count %></span></p>
                                        <a class="btn btn-warning" href="/chat/<%= course._id %>">Chat Room <i
                                                class="far fa-comment-dots"></i> </a>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="container-fluid tab-pane fade" id="course" role="tabpanel"
                            aria-labelledby="course-tab">
                            <div class="row">
                                <div class="col-12">
                                    <h5>Making Course</h5>
                                    <p class="mt-2">Here you can make course and publish it to users and note that the
                                        maximum courses you can make is four courses</p>
                                    <a href="/user/profile" class="btn btn-primary mt-2">BACK PROFILE</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="singup p-3 bg-white shadow rounded-lg text-muted">
                                        <%- include('./partials/flashMessages.ejs') -%>
                                        <%- include('./partials/errors.ejs') -%>
                                        <h3>Create new course <i class="far fa-bookmark"></i></h3>
                                        <form class="mt-2">
                                            <p class="badge badge-info">Info About Course</p>
                                            <div class="input-group mb-3 mt-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fab fa-node-js"></i></span>
                                                </div>
                                                <select id="coursename" name="coursename" class="custom-select">
                                                    <optgroup label="Graphic Design">
                                                        <option value="Photoshop">Photoshop</option>
                                                        <option value="Adobe Illustrator">Adobe Illustrator</option>
                                                        <option value="Drawing">Drawing</option>
                                                        <option value="Digital Painting">Digital Painting</option>
                                                        <option value="InDesign">InDesign</option>
                                                    </optgroup>
                                                    <optgroup label="Digital Marketing">
                                                        <option value="Marketing Strategy">Marketing Strategy</option>
                                                        <option value="Facebook Marketing">Facebook Marketing</option>
                                                        <option value="Google Analytics">Google Analytics</option>
                                                        <option value="Email Marketing">Email Marketing</option>
                                                        <option value="Business Strategy">Business Strategy</option>
                                                    </optgroup>
                                                    <optgroup label="IT Certification">
                                                        <option value="Cisco CCNA">Cisco CCNA</option>
                                                        <option value="CompTIA A+">CompTIA A+</option>
                                                        <option value="AWS Certified Cloud Practitioner">AWS Certified
                                                            Cloud Practitioner</option>
                                                        <option value="CompTIA Security+">CompTIA Security+</option>
                                                        <option value="CompTIA Network+">CompTIA Network+</option>
                                                    </optgroup>
                                                    <optgroup label="Data and Analytics">
                                                        <option value="SQL">SQL</option>
                                                        <option value="MySQL">MySQL</option>
                                                        <option value="Data Modeling">Data Modeling</option>
                                                        <option value="Data Analysis">Data Analysis</option>
                                                        <option value="Big Data">Big Data</option>
                                                    </optgroup>
                                                    <optgroup label="Hardware">
                                                        <option value="PLC">PLC</option>
                                                        <option value="Electronics">Electronics</option>
                                                        <option value="Arduino">Arduino</option>
                                                        <option value="Cell Phone Repair">Cell Phone Repair</option>
                                                        <option value="Microcontroller">Microcontroller</option>
                                                    </optgroup>
                                                    <optgroup label="Front-end web">
                                                        <option value="HTML and CSS">HTML and CSS</option>
                                                        <option value="JavaScript and jQuery">JavaScript and jQuery
                                                        </option>
                                                        <option value="Bootstrap4">Bootstrap4</option>
                                                        <option value="Pug and SASS">Pug and SASS</option>
                                                        <option value="VueJS">VueJS</option>
                                                    </optgroup>
                                                    <optgroup label="Back-end web">
                                                        <option value="PHP and Laravel">PHP and Laravel</option>
                                                        <option value="NodeJS and ExpressJS">NodeJS and ExpressJS
                                                        </option>
                                                        <option value="Python and DJango">Python and DJango</option>
                                                        <option value="ASP.Net backend">ASP.Net backend</option>
                                                        <option value="C# backend">C# backend</option>
                                                    </optgroup>
                                                    <optgroup label="Programming Languages">
                                                        <option value="JavaScript">JavaScript</option>
                                                        <option value="Java">Java</option>
                                                        <option value="Python">Python</option>
                                                        <option value="React">React</option>
                                                        <option value="C++">C++</option>
                                                    </optgroup>
                                                    <optgroup label="Business">
                                                        <option value="Finance">Finance</option>
                                                        <option value="Entrepreneurship">Entrepreneurship</option>
                                                        <option value="Communications">Communications</option>
                                                        <option value="Management">Management</option>
                                                        <option value="Sales">Sales</option>
                                                    </optgroup>
                                                    <optgroup label="Operating Systems">
                                                        <option value="Linux">Linux</option>
                                                        <option value="Windows Server">Windows Server</option>
                                                        <option value="Linux Administration">Linux Administration
                                                        </option>
                                                        <option value="Shell Scripting">Shell Scripting</option>
                                                        <option value="Active Directory">Active Directory</option>
                                                    </optgroup>
                                                </select>
                                                <div class="input-group-append">
                                                    <label class="input-group-text"
                                                        for="inputGroupSelect02">Coursename</label>
                                                </div>
                                            </div>
                                            <div id="toolbar-container">
                                                <span class="ql-formats">
                                                    <select class="ql-size">
                                                        <option value="10px">Small</option>
                                                        <option selected>Normal</option>
                                                        <option value="18px">Large</option>
                                                        <option value="32px">Huge</option>
                                                    </select>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-color">
                                                        <option selected></option>
                                                        <option value="blue"></option>
                                                    </select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-bold"></button>
                                                    <button class="ql-italic"></button>
                                                    <button class="ql-underline"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-list" value="ordered"></button>
                                                    <button class="ql-list" value="bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-direction" value="rtl" type="button"></button>
                                                    <select class="ql-align">
                                                        <option selected="selected"></option>
                                                        <option value="center"></option>
                                                        <option value="right"></option>
                                                        <option value="justify"></option>
                                                    </select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-script" value="sub" type="button"></button>
                                                    <button class="ql-script" value="super" type="button"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-header" value="1" type="button"></button>
                                                    <button class="ql-header" value="2" type="button"></button>
                                                    <button class="ql-blockquote" type="button"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button class="ql-link" type="button"></button>
                                                    <button class="ql-video" type="button"></button>
                                                    <button class="ql-formula" type="button"></button>
                                                </span>
                                            </div>
                                            <div id="editor" class="mb-3"></div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="fas fa-dollar-sign"></i></span>
                                                </div>
                                                <input required type="number" name="courseprice" id="courseprice"
                                                    class="form-control" placeholder="Enter Course Price">
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="fas fa-hockey-puck"></i></span>
                                                </div>
                                                <input required type="number" name="courselimited" id="courselimited"
                                                    class="form-control" placeholder="Enter Course limited">
                                            </div>
                                            <div class="input-group mb-3">
                                                <input required type="text" name="coursestart" id="coursestart"
                                                    class="form-control" placeholder="Enter Course Start">
                                            </div>
                                            <div class="input-group mb-3">
                                                <input required type="text" name="courseend" id="courseend"
                                                    class="form-control" placeholder="Enter Course End">
                                            </div>
                                            <p class="badge badge-info">Info About Center</p>
                                            <div class="input-group mb-3 mt-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-compass"></i></span>
                                                </div>


                                                <select id="centerlocation" name="centerlocation" class="custom-select">
                                                    <option value="Alexandria">Alexandria
                                                    </option>
                                                    <option value="Aswan">Aswan
                                                    </option>
                                                    <option value="Asyut">Asyut
                                                    </option>
                                                    <option value="Beheira">
                                                        Beheira</option>
                                                    <option value="Beni Suef">Beni Suef</option>
                                                    <option value="Cairo">Cairo
                                                    </option>
                                                    <option value="Dakahlia">Dakahlia</option>
                                                    <option value="Damietta">Damietta</option>
                                                    <option value="Faiyum">
                                                        Faiyum</option>
                                                    <option value="Gharbia">
                                                        Gharbia</option>
                                                    <option value="Giza">Giza
                                                    </option>
                                                    <option value="Ismailia" selected>Ismailia</option>
                                                    <option value="Kafr El Sheikh">Kafr El Sheikh
                                                    </option>
                                                    <option value="Luxor">Luxor
                                                    </option>
                                                    <option value="Matruh">
                                                        Matruh</option>
                                                    <option value="Minya">Minya
                                                    </option>
                                                    <option value="Monufia">
                                                        Monufia</option>
                                                    <option value="New Valley">New Valley
                                                    </option>
                                                    <option value="North Sinai">North Sinai
                                                    </option>
                                                    <option value="Port Said">Port Said</option>
                                                    <option value="Qalyubia">Qalyubia</option>
                                                    <option value="Qena">Qena
                                                    </option>
                                                    <option value="Red Sea">
                                                        Red Sea</option>
                                                    <option value="Sharqia">
                                                        Sharqia</option>
                                                    <option value="Sohag">Sohag
                                                    </option>
                                                    <option value="South Sinai">South Sinai
                                                    </option>
                                                    <option value="Suez">Suez
                                                    </option>
                                                </select>
                                                <div class="input-group-append">
                                                    <label class="input-group-text"
                                                        for="inputGroupSelect02">Location</label>
                                                </div>
                                            </div>
                                            <div class="input-group mb-3 mt-2">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="far fa-compass"></i></span>
                                                </div>
                                                <input required type="text" name="centerplace" id="centerplace"
                                                    class="form-control" placeholder="Enter Center Place">
                                                <div class="input-group-append">
                                                    <label class="input-group-text" for="inputGroupSelect02">Place
                                                        Details</label>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <button id="btn" type="submit " class="btn btn-primary "> Create now <i
                                                        class="far fa-plus-square"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Edit Courses</h3>
                                    <p>Edit Courses, In this page you can edit each course you make. You can upload
                                        photo for the center and video introduction for the course only and you cannot
                                        edit anything in each course like coursename, courseprice, courselimited,...etc
                                    </p>
                                    <a href="/user/profile" class="btn btn-primary mt-2">BACK PROFILE</a>
                                </div>
                            </div>
                            <hr />
                            <% courseDocs.forEach((course) => { %>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="content p-3 bg-white rounded-lg shadow-lg">
                                        <div class="d-flex justify-content-between">
                                            <div class="left-content-for-image">
                                                <img class="shadow"
                                                    src="../../assets/centerphotos/<%= course.centerphoto %>"
                                                    title="Course Center" alt="Course Center"
                                                    style="height: 100px; width: 100px; border-radius: 50%; border: 1px solid #888" />
                                            </div>
                                            <div class="right-content-for-coursebio pl-2"
                                                style="width: calc(100% - 100px)">
                                                <h4 class="text-primary m-0">
                                                    <span class="coursename"><%= course.coursename %> Course</span>
                                                    <span
                                                        class="courseprice badge badge-success">Price:<%= course.courseprice %>$</span>
                                                    <span
                                                        class="courselimited badge badge-info">Limited:<%= course.courselimited %></span>
                                                </h4>
                                                <p class="mt-1 mb-0 text-muted" style="font-size: 15px">
                                                    <%= course.coursebio %></p>
                                                <div class="d-flex mt-3">
                                                    <form class="uploadCenterPhoto"
                                                        action="/user/uploadCenterPhoto/<%= course._id %>" method="post"
                                                        enctype="multipart/form-data">
                                                        <input type="hidden" name="id" value="3e5" />
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <button type="submit"
                                                                    class="btn btn-info btn-sm">Upload</button>
                                                            </div>
                                                            <div class="custom-file">
                                                                <input type="file" name="centerphoto"
                                                                    class="custom-file-input" id="customFile">
                                                                <label class="custom-file-label text-left"
                                                                    for="customFile">Photo for Center</label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <form class="uploadCourseVideo ml-2"
                                                        action="/user/uploadCourseVideo/<%= course._id %>" method="post"
                                                        enctype="multipart/form-data">
                                                        <input type="hidden" name="id" value="3e53d" />
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <button type="submit"
                                                                    class="btn btn-primary btn-sm">Upload</button>
                                                            </div>
                                                            <div class="custom-file">
                                                                <input type="file" name="coursevideo"
                                                                    class="custom-file-input" id="customFile">
                                                                <label class="custom-file-label text-left"
                                                                    for="customFile">Video for Course</label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <% if(course.users.length === 0) { %>
                                                <div class="d-flex mt-1">
                                                    <form class="removeCourse" id="removeCourse"
                                                        action="/user/profile/dashboard/removeCourse" method="POST">
                                                        <input type="hidden" name="courseID"
                                                            value="<%= course._id %>" />
                                                        <button type="submit" class="btn btn-danger">
                                                            <span class="removeCourse-word">Remove Course</span>
                                                            <span class="icon"><i class="far fa-trash-alt"></i></span>
                                                        </button>
                                                    </form>
                                                </div>
                                                <% } %>
                                                <% if(moment().isSameOrAfter(course.courseend)) { %>
                                                <div class="d-flex mt-1">
                                                    <form class="emptyUsers" id="emptyUsers"
                                                        action="/user/profile/dashboard/emptyUsers" method="POST">
                                                        <input type="hidden" name="courseID"
                                                            value="<%= course._id %>" />
                                                        <button type="submit" class="btn btn-danger">
                                                            <span class="emptyUsers-word">Empty Users</span>
                                                            <span class="icon"><i class="fas fa-ban"></i></span>
                                                        </button>
                                                    </form>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <div class="container-fluid tab-pane fade" id="request" role="tabpanel"
                            aria-labelledby="request-tab">
                            <div class="row">
                                <div class="col-12">
                                    <h3>All Requests</h3>
                                    <p>All Requests, In this page you will find all the users who book each course of
                                        your courses by cetrain method and they wait for accepting their request. If you
                                        accept their request, Message will be sent automatically to them for attention
                                    </p>
                                    <a href="/user/profile" class="btn btn-primary mt-2">BACK PROFILE</a>
                                </div>
                            </div>
                            <hr />
                            <% courseDocs.forEach((course) => { %>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="content bg-white rounded-lg shadow-lg">
                                        <div class="d-flex justify-content-between p-3"
                                            style="background-color: #c9ffeb">
                                            <div class="left-content-for-image">
                                                <img class="shadow"
                                                    src="../../assets/centerphotos/<%= course.centerphoto %> %>"
                                                    title="Course Center" alt="Course Center"
                                                    style="height: 100px; width: 100px; border-radius: 50%; border: 1px solid #888" />
                                            </div>
                                            <div class="right-content-for-coursebio pl-2"
                                                style="width: calc(100% - 100px)">
                                                <h4 class="text-primary m-0">
                                                    <span class="coursename"><%= course.coursename %> Coursename</span>
                                                    <span class="courseprice badge badge-success">Price:
                                                        <%= course.courseprice %></span>
                                                    <span class="courselimited badge badge-info">Limited:
                                                        <%= course.courselimited %></span>
                                                </h4>
                                                <p class="mt-1 mb-0 text-muted" style="font-size: 15px">
                                                    <%= course.coursebio %></p>
                                                <div class="d-flex mt-2">
                                                    <span class="d-flex align-items-center"
                                                        style="background-color:transparent; color: #424141; border: 1px solid #929292; border-radius: .25rem; font-size: 75%; padding: .25em .4em">Start
                                                        in <%= moment(course.coursestart).format('DD-MMM-YYYY') %> <i
                                                            class="pl-1 far fa-clock"></i></span>
                                                    <span class="ml-2 d-flex align-items-center"
                                                        style="background-color:transparent; color: #424141; border: 1px solid #929292; border-radius: .25rem; font-size: 75%; padding: .25em .4em">End
                                                        in <%= moment(course.courseend).format('DD-MMM-YYYY') %> <i
                                                            class="pl-1 far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="pl-3 mt-3">All user requests for this course</h4>
                                        <% course.users.forEach((user) => { %>
                                        <div class="d-flex justify-content-between mt-3 px-3 pb-3">
                                            <div class="left-content-for-image">
                                                <img class="shadow" src="../../assets/uploads/<%= user.userID.avatar%>"
                                                    title="Course Center" alt="Course Center"
                                                    style="height: 100px; width: 100px; border-radius: 50%; border: 1px solid #888" />
                                            </div>
                                            <div class="right-content-for-coursebio pl-2"
                                                style="width: calc(100% - 100px)">
                                                <h4 class="text-primary m-0">
                                                    <span class="coursename"><%= user.userID.fullname %></span>
                                                    <% if(user.acceptanceStatus === false) { %>
                                                    <form class="acceptThisUser d-inline" id="acceptThisUser"
                                                        action="/user/profile/dashboard/acceptUser" method="POST">
                                                        <input type="hidden" value="<%= course._id %>"
                                                            name="courseID" />
                                                        <input type="hidden" value="<%= user.userID._id %>"
                                                            name="userID" />
                                                        <button type="submit"
                                                            class="btn btn-warning btn-sm">Accept</button>
                                                    </form>
                                                    <% } %>
                                                </h4>
                                                <p class="mt-1 mb-0 text-muted" style="font-size: 15px">
                                                    <%= user.userID.bio %></p>
                                                <div class="d-flex mt-2">
                                                    <span class="d-flex align-items-center"
                                                        style="background-color:transparent; color: #424141; border: 1px solid #929292; border-radius: .25rem; font-size: 75%; padding: .25em .4em">Gender
                                                        is <%= user.userID.gender %> <i
                                                            class="pl-1 far fa-clock"></i></span>
                                                    <span class="ml-2 d-flex align-items-center"
                                                        style="background-color:transparent; color: #424141; border: 1px solid #929292; border-radius: .25rem; font-size: 75%; padding: .25em .4em">Location
                                                        is <%= user.userID.location %> <i
                                                            class="pl-1 far fa-clock"></i></span>
                                                    <span class="ml-2 d-flex align-items-center"
                                                        style="background-color:transparent; color: #424141; border: 1px solid #929292; border-radius: .25rem; font-size: 75%; padding: .25em .4em">Phone
                                                        number is <%= user.userID.phone %> <i
                                                            class="pl-1 far fa-clock"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <div id="flashMessage" class="alert alert-success alert-dismissible fade show" role="alert"
        style="width: 275px; font-size: 14px; position: fixed; display: none; left: 15px; bottom: 15px; z-index: 555">
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8c190c8b3a.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/gijgo.min.js"></script>
    <script>
        $(() => {
            $('#coursestart').datetimepicker({ footer: true, modal: true });
            $('#courseend').datetimepicker({ footer: true, modal: true });
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script>
        $(() => {
            const socket = io();
            $("#btn").click((event) => {
                event.preventDefault();
                socket.emit('courseData', {
                    instructorID: "<%= user._id %>",
                    coursename: $("#coursename").val(),
                    coursebio: $(".ql-editor").html(),
                    courseprice: $("#courseprice").val(),
                    courselimited: $("#courselimited").val(),
                    coursestart: $("#coursestart").val(),
                    courseend: $("#courseend").val(),
                    centerlocation: $("#centerlocation").val(),
                    centerplace: $("#centerplace").val(),
                });
            })
            socket.on("doneMessageForPublishingCourse", data => {
                $("#flashMessage").html(`
            <audio autoplay class="d-none">
                <source src="../assets/sounds/notification.mp3" type="audio/mpeg">
            </audio>
            <strong>Important Notification!</strong><br> ${data.coursename} Course is created now. You can visit the course link on <a target="_blank" href="/course/${data.courseID}">Visit</a> </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            `).fadeIn(250).delay(5000).fadeOut(250);
            })
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js"
        integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="../../assets/js/mathquill.min.js"></script>
    <script src="../../assets/js/mathquill4quill.min.js"></script>
    <script>
        $(() => {
            // Include SizeStyle
            const SizeStyle = Quill.import('attributors/style/size');
            Quill.register(SizeStyle, true);

            // Include ColorClass
            const ColorClass = Quill.import('attributors/class/color');
            Quill.register(ColorClass, true)

            var quill = new Quill('#editor', {
                modules: {
                    formula: true,
                    toolbar: '#toolbar-container'
                },
                placeholder: 'Write the Course Content...',
                theme: 'snow'
            });
            const enableMathQuillFormulaAuthoring = mathquill4quill();
            enableMathQuillFormulaAuthoring(quill, {
                operators: [["\\pm", "\\pm"], ["\\sqrt{x}", "\\sqrt"], ["\\sqrt[n]{x}", "\\nthroot"], ["\\frac{x}{y}", "\\frac"],
                ["\\sum^{s}_{x}{d}", "\\sum"], ["\\prod^{s}_{x}{d}", "\\prod"], ["\\coprod^{s}_{x}{d}", "\\coprod"],
                ["\\int^{s}_{x}{d}", "\\int"], ["\\binom{n}{k}", "\\binom"]]

            });
        })
    </script>

</body>

</html>